@media screen and (max-width: 768px) {

    .content-title {
        margin-bottom: 10px;
    }

    .produtos {
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .card {
        width: 100%;
    }

    /* ------------------ */

    .container3 {
        height: auto;
    }

    .container3 .content {
        flex-direction: column;
        padding: 0px;
    }

    .container3 .content img {
        margin-right: 0;
        margin-bottom: 20px;
        /* Espaçamento entre a imagem e o texto */
    }

    .container3 .content .text {
        padding-right: 0;
        text-align: center;
    }

    .container3 .content .elementos {
        position: static;
        margin-top: 20px;
        /* Espaçamento entre o texto e os elementos */
    }
}