@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Bebas+Neue&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Space+Grotesk:wght@300..700&display=swap');
@import url("/css/header.css");
@import url("/css/carousel.css");
@import url("/css/footer.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 1.4rem;
}

img {
    max-width: 100%;
    height: auto;
}

.title-top {
    color: #006241;
    font-size: 16px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: bold !important;
    letter-spacing: .25em;
    padding: 0 20px;
}

.title-bottom {
    color: #1e3932;
    text-align: center;
    font-family: "Cutive", serif;
    font-size: 54px;
    padding: 0 20px;
}

.menu {
    background-color: rgb(9, 51, 22);
}

/* ---------- description ---------- */

.taste-of-the-season {
    color: #fff;
    background-color: #1e3932;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    padding: 76px 120px;
}

.taste-subtitle-top {
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 45px;
}

.taste-subtitle-bottom {
    font-family: sans-serif;
    font-size: 18px;
    margin-bottom: 45px;
}

/* ---------- cards ---------- */

.products-container {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.content-title {
    margin-bottom: 40px;
}

.content-title h2 {
    margin: 0;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 40px;
    padding-right: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.card img {
    width: 240px;
    height: 300px;
}

.card a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.card span {
    color: #1E3932;
    font-size: 16px;
    text-align: center;
    margin: 0px 0px 10px;
}

.produtos-item {
    color: #1e3932;
    font-size: 17px;
    font-weight: 600;
    margin: 5px 0;
    word-wrap: break-word;
}

.produtos-item:hover {
    text-decoration: underline;
}

.avaliacao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}

.icons {
    color: #CDCBC8;
    margin-right: 5px;
}

.icons i {
    font-size: 15px;
}

.star-view {
    font-size: 16px;
    padding-top: 5px;
}

.price {
    font-weight: normal;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qt {
    display: flex;
    align-items: center;
}

.qt p {
    font-size: 20px;
    padding: 0px 10px 0px 10px;
}

.qt button {
    background-color: #fff;
    color: #006241;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    padding: 5px 10px;
    border: 1px solid #006241;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.qt button:hover {
    background-color: #006241;
    color: #fff;
}

.adicionar {
    background-color: #006241;
    color: #fff;
    font-size: 16px;
    padding: 15px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.adicionar:hover {
    background-color: #006241;
}

.adicionar span {
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* ---------- news ---------- */

.news-container {
    background-color: #1e3932;
    overflow: hidden;
    padding: 80px 30px;
}

.news-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 115px;
    padding-left: 110px;
    padding-right: 80px;
}

.news-container img {
    max-width: 100%;
    height: auto;
    padding-left: 40px;
}

.mobile-hidden {
    display: none;
}

.news-row {
    flex: 1;
    padding-right: 20px;
    text-align: left;
}

.news-row h2 {
    flex: 1;
    font-size: 16px;
    text-align: left;
    padding: 0;
}

.subtitle-news {
    color: #fff;
    text-align: left;
    font-family: "Cutive", serif;
    font-size: 62px;
    padding: 0;
}

.news-row p {
    color: #fff;
    text-align: left;
    margin-bottom: 10px;
    padding: 0;
}

.news-description {
    font-size: 20px;
    margin-bottom: 25px;
}

.elementos {
    display: flex;
    align-items: center;
    padding: 10px;
}

.elementos a {
    background-color: #006241;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 14px 30px;
    border-radius: 50px;
    transition: background-color 0.3s ease;
}

.elementos a:hover {
    background-color: #00754a;
}

.elementos-icon {
    color: #fff;
    font-size: 14px;
    margin-left: 30px;
}

.elementos-icon i {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
}

/* ---------- scrollbar ---------- */

::-webkit-scrollbar {
    width: 7px;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

@media screen and (max-width: 768px) {

    .title-top {
        font-size: 15px;
    }

    .title-bottom {
        font-size: 40px;
    }

    .content-title {
        margin-bottom: 10px;
    }

    /* ------------- */

    .taste-of-the-season {
        padding: 76px 50px;
    }

    .taste-subtitle-top {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .taste-subtitle-bottom {
        font-size: 16px;
        margin-bottom: 10px;
    }

    /* ------------- */

    .produtos {
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    /* -------------- */

    .news-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .mobile-hidden {
        display: block;
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .image-right {
        display: none;
    }

    .news-row h2 {
        text-align: center;
    }

    .subtitle-news {
        font-size: 42px;
        text-align: center;
    }

    .news-row p {
        text-align: center;
    }

    .news-description {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .elementos {
        flex-direction: column;
    }

    .elementos a {
        margin-bottom: 20px;
    }

    .elementos-icon {
        margin: 0;
    }

    .news-container img {
        padding: 0;
    }

    .content-title {
        margin-bottom: 20px;
    }

    .elementos a {
        font-size: 14px;
        padding: 10px 20px;
    }
}