body {
    margin: 0;
}

.menu {
    background-color: rgb(9, 51, 22);
}

.carrossel {
    background-color: rgb(29, 75, 50);
}

.container {
    background-color: rgb(55, 71, 66);
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container2 {
    justify-content: center;
    text-align: center;
}

.container2 .content p {
    margin: 0px 0px 10px;
}

.produtos {
    display: flex;
    justify-content: center;
    padding: 0px 40px;
}

.card {
    width: 307px;
    margin-inline: 70px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: #1e3932;
}

.produto {
    height: 300px;
}

.descricao {
    height: 248px;
}

.descricao a {
    font-size: 1.3em;
    text-decoration: none;
    color: #1e3932;
}

.descricao a:hover {
    text-decoration: underline;
}

.descricao p {
    margin: 0px 0px 10px;
    color: #1e3932;
}

.avaliacao {
    margin: 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avaliacao a {
    color: #1e3932;
}

.avaliacao .icons {
    font-size: 15px;
    margin-right: 15px;
    color: rgb(201, 199, 199);
}

.preco {
    margin: 10px 0px 25px;
}

.preco span {
    margin-right: 10px;
}

.carrinho {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50px;
}

.carrinho .qt {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.qt {
    display: flex;
    align-items: center;
    text-align: center;
}

.qt buttom {
    height: 30px;
    width: 30px;
    font-weight: bolder;
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qt p {
    padding-inline: 15px;
    padding-top: 6px;
}

.adicionar buttom {
    background-color: green;
    color: #fff;
    font-size: 1.1em;
    border-radius: 30px;
    padding: 15px 20px;
}

.container3 {
    background-color: #1e3932;
    padding: 0px 30px;
    overflow: hidden;
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
}

.container3 .content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 80px;
    margin: 40px 0px;
    position: relative;
}

.container3 .content .text {
    padding-right: 100px;
    display: block;
    top: 0;
    margin-bottom: 20px;
}

.container3 .content .elementos {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 40px;
}

.container3 .content .elementos a {
    background-color: green;
    color: white;
    font-size: 1.1em;
    border-radius: 30px;
    padding: 14px 30px;
    text-decoration: none;
    margin-right: 30px;
}

.container3 .content img {
    width: 600px;
    margin-right: 50px;
}

.container4 {
    background-color: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.container4 .content {
    text-align: center;
}

.container4 .content .tittle {
    margin-top: 90px;
}

.container4 .content .tittle span {
    
}

.container4 .content .tittle p {
    font-size: 3.5em;
    margin: 0;
}

.galeria {
    width: 1629px;
    margin-top: -460px;
    overflow: visible;
}

.galeria img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.slick-slide img {
    transition: opacity 0.3s ease;
    transition: transform 0.3s ease;
    object-fit: contain;
}

.slick-center img {
    opacity: 1;
    transform: scale(1) translateY(-58px);
    animation: moverAumentar 0.3s ease;
}

.container4 a {
    margin-top: 40px;
    font-size: 1.1em;
    border-bottom: 2px solid green; 
    padding-bottom: 3px;
    text-decoration: none;  
}

@keyframes moverAumentar {
    0% {
        transform: scale(0.8) translateY(0);
    }
    100% {
        transform: scale(1) translateY(-58px);
    }
}

.slick-slide:not(.slick-center) img {
    transform: scale(0.8);
    opacity: 0.7;
}

.container5 {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container5 .content {
    display: flex;
    margin-inline: 150px;
}

.container5 .content img {
    margin-right: 150px;
}

.container5 .content .informacao {
    margin-block: 10%;
    align-items: center;
}

.container5 .content .informacao span {
    font-size: 1.3em;
}


.container5 .content .informacao h2 {
    font-size: 2.8em;
    margin-top: 50px;
}

.container5 .content .informacao p {
    font-size: 1.3em;
}

.container5 .content .elementos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container5 .content .elementos a {
    background-color: green;
    color: white;
    font-size: 1.1em;
    border-radius: 30px;
    padding: 14px 30px;
    text-decoration: none;
    margin-right: 30px;
}

@media screen and (min-width:1048px) {
    .menu {
        height: 100px;
    }

    .carrossel {
        height: 120vh;
    }

    .container {
        height: 270px;
    }

    .container .content p {
        margin-top: 45px;
    }

    .container2 .content {
        margin: 100px 0px;
    }

    .container2 .content h2 {
        font-size: 2.7em;
        margin: 0px 0px 80px;
    }

    .container4 {
        height: 144vh;
    }

}